# Ignore everything
/*

!.gitignore
!.ohmyposh.nu
!.ohmyposh.omp.json
!.zoxide.nu
!.bashrc
!/alacritty
!/mpv
/mpv/watch_later
!/nushell
/nushell/history.txt
!/zellij
!/neofetch
!/fastfetch
~/.moc
!/conky
!/myscripts
!/tmux
/tmux/plugins
!/bat
!/mpd
!/ncmpcpp
